<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>209455329132-gj7ef5ql3eiclgbr3d9i9a4htpocgof4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.209455329132-gj7ef5ql3eiclgbr3d9i9a4htpocgof4</string>
	<key>API_KEY</key>
	<string>AIzaSyA-G6e4VvPEOSZEX19qvZlEPnA_rrDjZnk</string>
	<key>GCM_SENDER_ID</key>
	<string>209455329132</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wdjpng.calendar1</string>
	<key>PROJECT_ID</key>
	<string>agendaapp-5295a</string>
	<key>STORAGE_BUCKET</key>
	<string>agendaapp-5295a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:209455329132:ios:1bc236e18e393d58</string>
	<key>DATABASE_URL</key>
	<string>https://agendaapp-5295a.firebaseio.com</string>
</dict>
</plist>